/* Label Container */
body {
   background-color: #7E8BD9;
}

.label-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #fff;
   width: 50%;
   margin: 50px auto 80px;
   /* Background color for the container */
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   /* Add a subtle box shadow */
}

#nnname {
   color: #7E8BD9;
}

/* Left Content (Username) */
.left-content {
   flex: 1;
   /* Expand to fill available space */
   text-align: left;
   display: flex;
   justify-content: center;
}

/* Label Text */
label {
   font-size: 28px;
   /* Adjust the font size as needed */
   color: white;
   /* Text color */
}

/* Right Content (Logo) */
.right-content {
   flex: 1;
   /* Expand to fill available space */
   text-align: right;
   display: flex;
   justify-content: center;
}

/* Logo Image */
img {
   max-width: 100px;
   /* Adjust the image's maximum width as needed */
   height: auto;
}