/* NavLogo */
/* Add your styles for NavLogo here */
/* Main Container */
body {
   background-color: #7E8BD9;
}

main {
   width: 60%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 50vh;
   /* Adjust this as needed to control the container's height */
   text-align: center;
}

/* Labels */
label {
   margin: 4px 0;
   /* Adjust the margin as needed for spacing between elements */
}

/* Buttons */
button {
   font-size: 26px;
   padding: 10px 20px;
   /* Adjust the padding as needed */
   background-color: #F2CF63;
   /* Button background color */
   color: #fff;
   /* Button text color */
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-decoration: none;
   transition: background-color 0.3s;
   width: 400px;
}

button:hover {
   background-color: #F2C063;
   /* Button background color on hover */
}


/* Anchor links for buttons */
a {
   text-decoration: none;
}